<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.Extras.CommonServiceLocator" version="3.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro" version="1.4.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Autofac" version="1.5.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Harness" version="1.0.5065.19020" targetFramework="net45" />
  <package id="Harness.Autofac" version="1.0.0.0" targetFramework="net45" />
  <package id="Harness.Net" version="1.0.5065.20989" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net45" />
</packages>