<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronJS" version="0.2.0.1" targetFramework="net45" />
  <package id="IronJS.Core" version="0.2.0.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="RaptorDB" version="2.6" targetFramework="net45" />
</packages>