<?xml version="1.0"?>
<package >
  <metadata>
    <id>{{id}}</id>
    <version>{{version}}</version>
    <title>{{title}}</title>
    <authors>{{author}}</authors>
    <owners>{{author}}</owners>
    <licenseUrl>{{licenseUrl}}</licenseUrl>
    <projectUrl>{{projectUrl}}</projectUrl>
    <iconUrl>{{iconUrl}}</iconUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>{{description}}</description>
    <releaseNotes>
		{{notes}}
	</releaseNotes>
    <copyright>Copyright 2013</copyright>
    <tags>{{tags}}</tags>
  </metadata>
</package>